<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="@{header.html}"></div>

<title>Room booker by Luc</title>
</head>
<body>


<div class="container">

<img src="/images/logo.png">
<h4>Room</h4>
<hr />

<div class="row">
<div class="col-sm">
  <table align="center">
    <tr>
      <td>
        <a data-lightbox="room" href="/images/room/01_big.jpg"><img src="/images/room/01_small.jpg" class="rounded"></a>
        <a hidden data-lightbox="room" href="/images/room/02_big.jpg"><img src="/images/room/02_small.jpg" class="rounded"></a>
        <a hidden data-lightbox="room" href="/images/room/03_big.jpg"><img src="/images/room/03_small.jpg" class="rounded"></a>
      </td>
    </tr>
    <tr>
      <td>
      <p style="text-align: center; color:#999">
        <i><small>(click on image to see more photos)</small></i>
      </p>
      </td>
    </tr>
  </table>
</div>

<div class="col-sm">
  <h5>Beautiful Room in Victorian Family Home</h5>
  <br />
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>

</div>

</div>




    <div class="container">
    <h4>Reservation</h4>
<hr />
<div class="row">
  <div class="col-sm">
    <form class="form-horizontal" th:action="@{/reservation/add}" method="post">


              <div class="form-group">
                  <label class="control-label" for="date">Name:</label>
                  <input name="name" placeholder="" class="form-control input-md" required="" type="text">
              </div>

              <!-- <div class="form-group">
                  <label class="control-label" for="date">Date from:</label>
                  <input name="dateFrom" placeholder="" class="form-control input-md" required="" type="date">
              </div>

              <div class="form-group">
                  <label class="control-label" for="date">Date to:</label>
                  <input name="dateTo" placeholder="" class="form-control input-md" required="" type="date">
              </div> -->


              <!-- <div class="form-group">
                  <label class="control-label"></label>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div> -->
          </form>
  </div>





<div class="col-sm">
  <div class="form-group">
      <label class="control-label" for="date">Date from:</label>
      <input name="dateFrom" placeholder="" class="form-control input-md" required="" type="date">
  </div>

  <div class="form-group">
      <label class="control-label" for="date">Date to:</label>
      <input name="dateTo" placeholder="" class="form-control input-md" required="" type="date">
  </div>
<!-- date picker -->
  <!-- <div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div> -->
<!-- date picker -->
<div id="my-calendar"></div>
</div>
</div>
<div class="form-group">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>


</div>
  </body>
</html>

<script type="application/javascript">
    $(document).ready(function () {
        $("#my-calendar").zabuto_calendar({
language: "pl",
show_previous: false,
 nav_icon: {
      prev: '<i class="fa fa-chevron-circle-left"><img src="/images/left-chevron.png"></i>',
      next: '<i class="fa fa-chevron-circle-right"><img src="/images/right-chevron.png"></i>'
    },
  ajax: {
     url: "http://localhost:8085/list"
   },
 cell_border: true
        });
    });

    lightbox.option({
  'alwaysShowNavOnTouchDevices': true,
  'wrapAround': true,
  'showImageNumberLabel':false
});

// $(function () {
//         $('#datetimepicker6').datetimepicker();
//         $('#datetimepicker7').datetimepicker({
//             useCurrent: false //Important! See issue #1075
//         });
//         $("#datetimepicker6").on("dp.change", function (e) {
//             $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
//         });
//         $("#datetimepicker7").on("dp.change", function (e) {
//             $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
//         });
//     });
</script>
