<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="@{header.html}"></div>

<title>Room booker by Luc</title>
</head>
<body>


<div class="container">

<img src="/images/logo.png">
<br />
<br />
<h4>Rooms</h4>
<hr />
<table>
  <tr th:each="room : ${rooms}">
    <td th:text="${room.title}"></td>
    <td>
        <a class="dropdown-item" th:href="@{/reservation/{roomId}(roomId=${room.id})}">Reserve this room</a>
    </td>
  </tr>
</table>


</div>

  </body>
</html>
