<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="@{header.html}"></div>

<title>Room booker by Luc</title>
</head>

<body>


  <div class="container">

    <img src="/images/logo.png">
    <br />
    <br />
    <h4>Rooms</h4>
    <hr />

    <div class="row" th:each="room : ${rooms}">
      <div class="col-sm">
        <table align="center">
          <tr>
            <td>
              <a th:href="@{/reservation/{roomId}(roomId=${room.id})}">
                <img th:src="${room.mainPhotoThumb}" class="rounded" />
              </a>
            </td>
          </tr>
        </table>
      </div>

      <div class="col-sm">
        <h5 th:text="${room.title}"></h5>
        <br />
        <p th:utext="${room.shortDescription}">
        </p>
        <a th:href="@{/reservation/{roomId}(roomId=${room.id})}">
          <button class="btn btn-outline-success">Reserve this room</button>
        </a>
        <br />
        <br />
        <br />
      </div>
    </div>


  </div>

</body>

</html>
