<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:th="http://www.thymeleaf.org">
<div th:include="@{header.html}"></div>

<title>Room booker by Luc | rooms panel</title>
</head>

<body>

	<div class="container mt-5">
		<a th:href="@{/admin/reservations}">
			<button class="btn btn-outline-primary">Reservations</button>
		</a> <a th:href="@{/admin/rooms}">
			<button class="btn btn-outline-primary">Rooms</button>
		</a></a> <a th:href="@{/admin/user/password}">
			<button class="btn btn-outline-primary">Change password</button>
		</a><a th:href="@{/logout}">
			<button class="btn btn-outline-danger">Logout</button>
		</a>
		<div class="row">
			<div class="col-8 p-3">
				<th:block th:if="${msgStatus}">
					<div class="row justify-content-md-center">
						<div class="alert alert-warning" role="alert">
							<br>
							<p align="center" th:text="${msgStatus}"></p>
						</div>
					</div>
				</th:block>
				<table id="roomResults" class="table table-hover">
					<thead class="thead-dark">
						<tr>

							<th scope="col">Id</th>
							<th scope="col">Title</th>
							<th scope="col">Persons</th>
							<th scope="col">Price</th>
							<th scope="col"></th>

						</tr>
					</thead>
					<tbody>
						<th:block th:each="room : ${rooms}">
							<tr>
								<td th:text="${room.id}"></td>
								<td th:text="${room.title}"></td>
								<td th:text="${room.personNumber}"></td>
								<td th:text="${room.dayPrice}"></td>
								<td>
									<div class="dropdown">
										<button class="btn btn-outline-primary dropdown-toggle"
											type="button" id="dropdownBookMenuButton"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">Options</button>
										<div class="dropdown-menu"
											aria-labelledby="dropdownBookMenuButton">
											<a class="dropdown-item"
												th:href="@{/admin/room/reservations/{roomId} (roomId=${room.id})}">show
												reservations</a> <a class="dropdown-item"
												th:href="@{/admin/room/update/{roomId} (roomId=${room.id})}">update</a>
											<a class="dropdown-item"
												onclick="return confirm('Are you sure you want to delete this room?');"
												th:href="@{/admin/room/delete/{roomId} (roomId=${room.id})}">delete</a>
											<th:block th:if="${room.status.equals(true)}">
												<a class="dropdown-item"
													th:href="@{/admin/room/disable/{roomId} (roomId=${room.id})}">disable</a>
											</th:block>
											<th:block th:if="${room.status.equals(false)}">
												<a class="dropdown-item"
													th:href="@{/admin/room/enable/{roomId} (roomId=${room.id})}">enable</a>
											</th:block>
											<a class="dropdown-item"
												th:href="@{/admin/photos/{roomId} (roomId=${room.id})}"
												target="_blank">photos</a>
										</div>
									</div>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>

			</div>

			<div class="col-4 p-3 border-left">
				<div class="w-75">
					<a th:href="@{/admin/room/add}">
						<button class="btn btn-primary">Add new room</button>
					</a>
				</div>
			</div>
		</div>




	</div>

</body>

</html>
<script type="application/javascript">
	
  $(document).ready(function() {
    $('#roomResults').DataTable({
      "columnDefs": [{
        "orderable": false,
        "targets": 4
      }]
    });
    $('.dataTables_length').addClass('bs-select');
  });

</script>
