<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="@{header.html}"></div>

<title>Room booker by Luc | update reservation</title>
</head>
<body>

  <div class="container w-25 mt-5">
    <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          Dates:
        </td>
        <td>
         <!-- <input type="date" class="form-control" name="dateFrom" th:value="${reservation.dateFrom}"> -->
         <div class="input-daterange input-group" id="datepicker">
         <input type="text" class="input-sm form-control" name="dateFrom" th:value="${reservation.dateFrom}"/>
         <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
         <input type="text" class="input-sm form-control" name="dateTo" th:value="${reservation.dateTo}"/>
         </div>




        </td>
      </tr>
      <!-- <tr>
        <td>
          Date to:
        </td>
        <td>
         <input type="date" class="form-control" name="dateFrom" th:value="${reservation.dateFrom}">
        </td>
      </tr> -->
      <tr>
        <td>
          Name:
        </td>
        <td>
         <input type="text" class="form-control" name="name" th:value="${reservation.name}">
        </td>
      </tr>
      <tr>
        <td>
          Surname:
        </td>
        <td>
         <input type="text" class="form-control" name="surname" th:value="${reservation.surname}">
        </td>
      </tr>
      <tr>
        <td>
          Address:
        </td>
        <td>
         <input type="text" class="form-control" name="address" th:value="${reservation.address}">
        </td>
      </tr>
      <tr>
        <td>
          Zip:
        </td>
        <td>
         <input type="text" class="form-control" name="zip" th:value="${reservation.zip}">
        </td>
      </tr>

        <tr>
          <td>
            City:
          </td>
          <td>
           <input type="text" class="form-control" name="city" th:value="${reservation.city}">
          </td>
        </tr>
        <tr>
          <td>
            Mail:
          </td>
          <td>
           <input type="text" class="form-control" name="mail" th:value="${reservation.mail}">
          </td>
        </tr>
        <tr>
          <td>
            Phone:
          </td>
          <td>
           <input type="number" class="form-control" name="phone" th:value="${reservation.phone}">
          </td>
        </tr>
        <tr>
          <td>
            Reservation cost:
          </td>
          <td>
           <input type="number" class="form-control" name="price" th:value="${reservation.price}">
          </td>
        </tr>
    </tbody>
    </table>
    <a th:href="@{/admin}">
<button class="btn btn-outline-danger">Back</button>
</a>
  </div>

</body>
</html>
<script type="application/javascript">
  $(document).ready(function () {
    $('#datepicker.input-daterange').datepicker({
      format: "yyyy-mm-dd",
      weekStart: 1,
      maxViewMode: 1,
      autoclose: true,
      toggleActive: true
    });
    });
</script>
