<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:include="@{header.html}"></div>

<div class="container">
  <div class="w-50 p-2">

    <table class="table">
    <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Date From</th>
      <th scope="col">Date To</th>


    </tr>
    </thead>
    <tbody>
    <!-- <th:block th:each="reservation : ${reservations}"> -->
    <tr>
<form th:action="@{/reservation/update/save/{reservationId} (reservationId=${reservation.id})}" method="post">

  <td>
    <!-- <input id="date" name="date" class="form-control input-md" type="date" th:value="${reservation.date}> -->
     <input type="text" class="form-control" name="name" th:value="${reservation.name}">
  </td>
  <td>
    <!-- <input id="date" name="date" class="form-control input-md" type="date" th:value="${reservation.date}> -->
     <input type="date" class="form-control" name="dateFrom" th:value="${reservation.dateFrom}">
  </td>
      <td>
        <!-- <input id="date" name="date" class="form-control input-md" type="date" th:value="${reservation.date}> -->
         <input type="date" class="form-control" name="dateTo" th:value="${reservation.dateTo}">
      </td>

      <td>
        <button type="submit" class="btn">Update</button>
        </td>
      </form>
      <td>
        <a th:href="@{/}">
            <button class="btn">Back</button>
        </a>
      </td>
    </tr>
    <!-- </th:block> -->
    </tbody>
    </table>

  </div>
</div>
</body>
</html>

<script type="application/javascript">
  $(document).ready(function () {
      $("#my-calendar").zabuto_calendar();
  });
</script>
